<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Campaign management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="check">
            <i class='bx bx-check'></i>
        </div>
        <div class="text">
            <p class="lead">Hey Rahul your Verification has benn successfully and your data has been stored in our database</p>
            <p>please click the below button to continue with login</p>
            <a href="#">Login</a>
        </div>
    </div>

</body>

</html>